<div class="col l12 geofence-contents"  *ngIf="geoFenceRule1Visible"> 
        <div class="col l6">
              <div class="row"> 
              <div class="col s6 m6 l4 geofence-inputlabel">Longitude</div>
              <div class="col s6 m6 l6">
              <input type="text" placeholder="Longitude">
              </div>                                 
              </div> 
              <div class="row"> 
              <div class="col s6 m6 l4 geofence-inputlabel">Latitude</div>
              <div class="col s6 m6 l6">
              <input type="text" placeholder="Latitude">
              </div>                                 
              </div> 
              <div class="row"> 
              <div class="col s6 m6 l4 geofence-inputlabel">Radius</div>
              <div class="col s6 m6 l6">
              <input type="text" placeholder="Radius">
              </div>                                 
              </div> 
              <div class="row">                                        
              <div class="col s6 m6 l4 geo-fence-button-div">
              <div class="form-group">
              <button class="btn">SET</button>
              </div>
              </div>  
              <div class="col s6 m6 l4 geo-fence-button-div">
              <div class="form-group">
              <button class="btn">ENABLE</button>
              </div>
              </div>                                
              </div> 
        </div>
<!-- ****************************** Rules Tab GeoFence Data Col 2-->
        <div class="col s12 m6 l6">
              <div class="row">
              <div class="col s12 m4 l4 pull-l1 UtilisationPatternTitle"> 
              <span class="">Geo Fence Map</span>
              </div>
              </div>
              <div class="row">
              <div class="col s12 m12 l12 geofence-col-style">
              <div class="col l12">
              <p style="text-align: center;color: red;"> Geo Fence Map will display</p>
              </div> 
              </div>                                  
              </div>
        </div>
    </div>



    ========