.tabs .tab{
  text-transform: capitalize;
   color: black!important;
}
.fleettyperow{
  background: #f9f9f9;
}
.fleetDisNavContent{
  background: #ffffff;
  height: 62px;
  padding-left: 18%;
  width: 108%;
}
.fleetDisctab a{ 
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #545454!important;
  padding: 0 15px!important;
}
.PreferencesPatternCard{
    width: auto;
    height: 585px;
    border-radius: 10px;
    background: #fff;
}
.card .card-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
}
.UtilisationPatternTitle{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #545454!important;
/*  float: left;*/
    font-family: Roboto;
/*  padding-left: 24px;*/
    padding-top: 13px;
}
 .btn_btncolr{
  background:#70c8be!important;
  width: 100px!important;
  height: 36px!important;
  border-radius: 8px;
  color: black;
  border-style: none;
/*  float: right;*/
  margin-top: 2%;
}
.active-nav {
  border-bottom: 2px solid #70c8be;
}
.last-rep-time-txt{
 /* margin-top: 5%;*/
  font-weight: bold;
}
.curr-loc-txt{
 
 /* padding-top: 7%;*/
  font-weight: bold;
  color: black!important;
}
.curr-loc-txt input{
  color: black;
}
.curr-loc-txt1{
 /* padding-top: 10%;*/
  font-weight: bold;
}
.card-heading{
  font-weight: 500;
    font-size: 20px;
  letter-spacing: -0.3px;
  color: #545454!important;
   font-family: Roboto;
/*  padding-left: 24px;*/
    padding-top: 13px;
}
.disabled-txt-color input{
  color: black;
}

#eta-location-mapContainer {
    width: 100%;
    height: 514px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
    overflow: hidden;
  }
    .asset-title{
    font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #545454!important;
    font-family: Roboto;
    padding-top: 13px;

}

/*--------------------------------------------------Overview Tab---------------------*/



/*.tabs .indicator {
  width: 79px;
  height: 2px;
  background-color: #70c8be!important;
  margin-left:  18px!important;
  bottom: 0;
}
*/

/*------------------------------Mobile version*/

@media only screen and (max-width: 500px) {
  .fleetDisNavContent{
    margin-top: 8%!important;
    padding-left: 0%;
    width: 100%;
  }
  .UtilisationPatternCard{
    margin-top: 5%;
    height: 405px;
  }
  .fleetDisctab a{
    font-size: 13px;
  }
  .asset-title{
    display: none;
  }
}

/*------------------------------Tab version*/
  @media (max-width:900px) and (min-width:600px) {
    .fleetDisNavContent{
    margin-top: 4%;
    margin-left: -6%;
  }
   .UtilisationPatternCard{
    margin-top: 4%;
    height: 405px;
  }
}

/* ------------------------------iPhone 5 ----------- lanscape mode */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px)
 and (orientation: landscape){
.fleetDisNavContent{
  padding-left: 0px;
  margin-top: 9%;
}
 
}

