<div class="row">
    <div class="thirdcardrow">
        <div class="col s12 m10 offset-m2">
            <div class="card #bdbdbd hoverable card-revenueguide dashoard-sr-card">
                <div class="card-content">
                    <span class="titlerevenueguide">Service Realization</span>
                    <div class="service-realization-chart">
                        <groupbar-chart *ngIf="chartData" [data]="chartData" [key]="keys" [yAxisLabel]="yLabel"></groupbar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>