<div class="col s12 m4">
    <div class="card #bdbdbd grey lighten-1 hoverable ">
        <div class="card-content white-text">
            <span class="titlependingtask ">My Tasks</span>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirst card3rowalign">
                    <div class="col s1">
                        <div id="circleshape"></div>
                    </div>
                    <div class="col s10">
                        <p>Customer complaints to be resolved
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">29</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape1"></div>
                    </div>
                    <div class="col s10">
                        <p>Dealer complaints to be resolved
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">15</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape1"></div>
                    </div>
                    <div class="col s10">
                        <p>New parts request pending
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">09</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape1"></div>
                    </div>
                    <div class="col s10">
                        <p>New order requests pending
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">11</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape1"></div>
                    </div>
                    <div class="col s10 ">
                        <p>Dealer complaints to be resolved
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">23</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape"></div>
                    </div>
                    <div class="col s10 badgemyTsk">
                        <p>Dealer complaints to be resolved
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">16</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 myTasksSub mytaskFirs1">
                    <div class="col s1">
                        <div id="circleshape"></div>
                    </div>
                    <div class="col s10">
                        <p>Customer complaints to be resolved
                        </p>
                    </div>
                    <div class="col s1">
                        <span class="badges badgemyTsk">19</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>