<div id="backgroundImage">
  <div>
    <div class="roleContainer">
      <img class="LoginLogo" src="assets/img/Login Logo.png">
      <div class="container preLoginCard">
        <div class="z-depth-1 containerDiv">
          <form class="col s12 m12 l12">
            <div class='row'>
              <p class="Heading">Choose your login</p>
              <div class='input-field col s12 m12 l12 OEMDiv'>
                <button name='btn_login' class="col s12 m12 l12 btn_btncolr" (click)="setType('OEM')">OEM</button>
              </div>
            </div>
            <div class='row dealerRow'>
              <div class='input-field col s12 m12 l12'>
                <button name='btn_login' class="col s12 btncolor-desable" >DEALER</button><!-- (click)="setType('Dealer')" -->
              </div>
            </div>
            <div class='row customerRow'>
              <div class='input-field col s12 m12 l12'>
                <button name='btn_login' class="col s12 btncolor-desable">CUSTOMER</button><!-- (click)="setType('Customer')" -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>