<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #bdbdbd hoverable dashoardRevenueGuideCard">
            <div class="card-content">
                <span class="titlerevenueguide">
                    Live Tracker
                </span>
                <div id="live-tracker-mapContainer"> 
                    <map [mapdata]="maplist" [centers]="centerlist"[config]="config">
                    </map>
                </div>
            </div>
        </div>
    </div>
</div>
