<div id="containerdata" (click) = "closeModal()">
<!--=================================3Tabs in Fleet Discription-->
      <div class="rowalignshow">
      <div class="row fleettyperow">
      <div class="nav-content fleetDisNavContent">
      <ul class="tabs tabs-transparent">
      <li class="tab fleetDisctab">
      <a class="OverviewTab active-nav" href="#asset">Overview</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="UtilisationTab" href="#utilisation">Utilization</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="HealthTab" href="#health">Health</a>
      </li>
      <li class="tab fleetDisctab" *ngIf="userType === 'Dealer'">
      <a class="ServiceTab" href="#service">Service</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="RulesTab" href="#rules">Rules</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="ETATab" href="#eta">ETA</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="SOSTab" href="#sos">Nearby Dealer</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="RouteReplayTab" href="#routereplay">Route Replay</a>
      </li>
      <li class="tab fleetDisctab">
      <a class="DataTab" href="#data">Data</a>
      </li>
      <div class="indicator"></div>
      </ul>
      </div>
      </div>
      </div>
<!--=================OverView Tab=========================-->
<div class="row fleettyperow active" id="asset-screen" *ngIf="viewType === 'overview'">
<div class="col s12 m10 offset-m2">
      <!-- asset details start -->
      <div class="col s12 m6">
      <div [hidden]="!loading" class="spin-loader">
      <app-loader [loading]="!loading"></app-loader>
      </div>
      <div class="row">
      <div class="card BackloaderCard">
      <div class="card-content">
      <div class="col s12 m5 l7">
      <img class="responsive-img" id="fleetDisImgCard" src="assets/img/amwtruck.png">
      </div>
      <div class="col s12 m5 l5 asset-details" *ngIf="asset">
      <p class="cardStackHeadingSub">{{asset.serialNumber}}</p><br>
      <ul>
      <li class="cardStackHeadingSub2"*ngIf="asset.type">Type-{{asset.type}}</li>
      <li class="cardStackHeadingSub2" *ngIf="asset.serialNumber">IMEI- {{asset.serialNumber}}</li>
      <li *ngIf = "lastUpdatedStatus" class="cardStackHeadingSub2">Last Updated Status- {{ lastUpdatedStatus}}</li>
      <li *ngIf = "ignition" class="cardStackHeadingSub2">Ignition Status- {{ ignition }}</li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>   
      <!-- asset details end -->
      <!-- map view start -->
      <!--================Overview Map card===========-->
      <div class="col s12 m6">
      <div class="card assetDetailsMapCard">
      <div class="card-content">
      <div class="col s12 cardrowalign" *ngIf="mapsLists !== undefined">
      <div id="overview-map">
      <map [mapdata]="mapsLists" [centers]="centers" [config]="config"> </map>
      </div>
      </div>
      </div>
      </div>
      <!-- Modal Structure -->
      <div class="row">
      <div class="col s12 m5 l5">
      <div id="modal1" class="modal" *ngIf = "mapsLists.length < 1 && !modalDisplay && !loading">
      <div class="close-mark"><button (click)="closeModal()">X</button></div>
      <div class="modal-content">
      <p class="modal-msg"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;No Map data found !</p>
      </div>
      </div>
      </div>
      </div>
      </div>
      <!-- map view end -->
<!-- user details start  -->
<!--===========OverView Dealer User Details===========-->
            <div class="col s12 m6">
            <div class="card assetDetailsDealerUserCard user-details">
            <div *ngIf="dealers">
            <div class="card-content" *ngFor="let dealer of dealers" >
            <div class="card-image BackloaderJCBDiv">
            <p class="FleetDisDealerTitle">Dealer</p>
            <img class="imgCircleDealer" src="assets/img/user.png">
            <ul class="DealerDetailsUl">
            <li class="DealerNameLi">{{dealer.delear_name}}</li>
            <li class="DealerDetailsLi">Name : {{dealer.name}}</li>
            <li class="DealerDetailsLi" *ngIf="dealer.location">Location : {{dealer.location}}</li>
            <li class="DealerDetailsLi" *ngIf="dealer.mobile">Mobile : {{dealer.mobile}}</li>
            <li class="DealerDetailsLi" *ngIf="dealer.delearemailid">Email : {{dealer.delearemailid}}</li>
            </ul>
            </div>
            <div class="divider DealerUserDivider"></div>
            </div>
            </div>
            <div *ngIf="customers">
            <div class="card-content" *ngFor="let customer of customers">
            <div class="card-image BackloaderJCBDiv2">
            <p class="FleetDisUserTitle">Owner</p>
            <img class="imgCircleUser" src="assets/img/user.png">
            <ul class="UserDetailsUl">
            <li class="UserNameLi">{{customer.delear_name}}</li>
            <li class="UserDetailsLi" *ngIf="customer.name">Name : {{customer.name}}</li>
            <li class="UserDetailsLi" *ngIf="customer.location">Location : {{customer.location}}</li>
            <li class="UserDetailsLi" *ngIf="customer.mobile">Mobile : {{customer.mobile}}</li>
            <li class="UserDetailsLi" *ngIf="customer.customeremailid" >Email : {{customer.customeremailid}}</li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            </div>
    <!-- </div>
    </div> -->
<!-- user details end -->
<!--======OverView Active Alerts==================-->
      <div class="row fleettyperow">
      <!-- <div class="col s12 m12"> -->
      <div class="col s12 m12" *ngIf="assetAllAlert !== undefined || assetAllAlert.length >= 1">
      <div class="card card4">
      <div class="card-content">
            <div class="row">
            <div class="fleetDisActiveAlerts">Active Alerts(Device Generated)</div>
            </div>
            <div *ngIf="assetAllAlert.length === 0" class="error-msg">
            <p class="error-msg-insidecard">Data is not available</p>
            </div>
            <div class="col s12 m6 ActiveAlertDiv" *ngFor="let event of assetAllAlert; let i = index">
            <ul class="activeAlertUl" *ngIf="i<assetAllAlert.length">
              <div *ngIf = 'event.time' >
              <li class="activeAlertLi">
              <p>{{event.name}}</p>
              <span>{{event.time}}</span>
              </li>
              </div>
            </ul>
            </div>
      </div>
      </div>
   <!--    </div> -->
    <!--   </div> -->
      
        <div class="card card4" *ngIf="assetItemAlert !== undefined || assetItemAlert.length >= 1">
        <div class="card-content">
          <div class="row">
          <div class="fleetDisActiveAlerts">Active Alerts(Platform Generated)</div>
          </div>
          <div *ngIf="assetItemAlert.length === 0" class="error-msg">
          <p>Data is not available</p>
          </div>
          <div class="col s12 m6 ActiveAlertDiv" *ngFor="let event of assetItemAlert; let i = index">
          <ul class="activeAlertUl" *ngIf="i<assetItemAlert.length">
          <li class="activeAlertLi" *ngIf = 'event.time'>
          <p>{{event.name}}</p>
          <span>{{event.time}}</span><br />
          <span *ngIf="event.val">Value: {{event.val}}</span>
          <span *ngIf="event.description">Description: {{event.description}}</span><br />
          </li>
          </ul>
          </div>
        </div>
        </div>
       <!--  </div> -->
</div>
</div>
</div>

